<div class="col-xs-12">
  <table class="table">
    <thead>
      <tr>
        <th class="col-xs-3">Title</th>
        <th colspan="2">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks">
        <td class="col-xs-3">{{ task.title }}</td>
        <td>{{ task.description }}</td>
        <td class="col-xs-5">
          <button type="button" class="btn btn-danger" (click)="onDelete( task.name )"><span class="glyphicon glyphicon-trash"></span>&nbsp;Delete</button>
          &nbsp;<button type="button" class="btn btn-primary" (click)="onUpdate( task.name )"><span class="glyphicon glyphicon-edit"></span>&nbsp;Update</button>
        </td>
      </tr>
      <ng-template [ngIf]="showTaskForm">
        <tr>
          <td colspan="3">
            <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
              <div class="form-group col-xs-3">
                <input type="text" class="form-control" formControlName="title" />
              </div>
              <div class="form-group col-xs-5">
                <input type="text" class="form-control" formControlName="description" />
              </div>
              <div class="form-group">
                <button type="submit" [disabled]="!taskForm.valid" class="btn btn-success">{{ ( isEdit ? 'Edit' : 'Add' ) }}</button>
              </div>
            </form>
          </td>
        </tr>
      </ng-template>
      <tr *ngIf="message">
        <td colspan="3">
          <p class="alert alert-info">{{ message }}</p>
        </td>
      </tr>
      <tr>
        <td colspan="3">
          <button type="button" class="btn btn-primary" (click)="onAddTaskRow()">Add a new row</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>